@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&family=Rock+Salt&family=Rubik+Spray+Paint&display=swap");

body {
  background-color: rgb(24, 24, 85);
}
h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Rubik Spray Paint", cursive;
  color: aliceblue;
}
h1 span {
  font-size: 25px;
}

.esterno {
  background-color: antiquewhite;
  margin: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 4px 5px 1px #000000;
  box-shadow: 5px 4px 5px 1px #000000;
  color: black;
  padding: 2%;
}
.esterno .bottone {
  padding: 10px;
  display: inline-flex;

  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.interno {
  background-color: beige;
  border: 2px;
  margin-left: 3%;
  margin-right: 50%;
  text-align: end;
  font-family: "Rock Salt", cursive;
  padding-top: 2%;
  padding-right: 2%;
}
.interno .lista {
  text-align: left;
  font-family: "Rock Salt", cursive;
  padding-left: 5%;
  padding-bottom: 10px;
}
